 #header-toolbar-save-load {
    display: none;
}
/*.js-save-load-menu-open-button {
    display: none;
}*//*
#header-toolbar-properties {
    display: none;
}*/
#header-toolbar-indicators {
    display: none;
}
#header-toolbar-undo-redo {
    display: none;
}
.js-save-load-menu-open-button {
    display: none;
}
/*.button-2-lC3gh4- {
    display: none;
}*/
/*.icon-beK_KS0k- {
    display: none;
}*/
/*.apply-common-tooltip {
    display: none;
}*/


.group-wWM3zP_M-:last-child {
    display: none;
}